.resposta {
    display: flex;
    min-width: 500px;
    width: 80%;
    height: 100px;
    margin: 10px;
    perspective: 1000px;
}

.conteudoResposta {
    position: relative;
    display: flex;
    flex: 1;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.respostaRevelada.conteudoResposta {
    transform: rotateY(180deg);
}

.frente, .verso {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.verso {
    transform: rotateY(180deg);
}

.frente {
    color: #000;
    align-items: center;
    border-radius: 12px;
    padding: 15px;
    background-color: #fff;
}

.letra {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-size: 1.3rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.valor {
    font-size: 1.3rem;
    font-weight: 700    ;
}

.verso > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-radius: 12px;
}

.certa .valor, .errada .valor {
    font-size: 1.5rem;
}

.certa {
    background-color: #2baa6d;
}

.errada {
    background-color: #E44A4C;
}